In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [ ]:
pip install h2o

Collecting h2o
  Downloading https://files.pythonhosted.org/packages/23/c9/f24bbb8e7a57097f12c7bef3d277641eddf5160688e442d0eb1b41bf6a67/h2o-3.32.1.3.tar.gz (164.8MB)
     |████████████████████████████████| 164.8MB 88kB/s
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from h2o) (2.23.0)
Requirement already satisfied: tabulate in /usr/local/lib/python3.7/dist-packages (from h2o) (0.8.9)
Requirement already satisfied: future in /usr/local/lib/python3.7/dist-packages (from h2o) (0.16.0)
Collecting colorama>=0.3.8
  Downloading https://files.pythonhosted.org/packages/44/98/5b86278fbbf250d239ae0ecb724f8572af1c91f4a11edf4d36a206189440/colorama-0.4.4-py2.py3-none-any.whl
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (1.24.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->h2o) (3.0.4)
Building wheels for collected packages: h2o
  Building wheel for h2o (setup.py) ... done
  Created wheel for h2o: filename=h2o-3.32.1.3-py2.py3-none-any.whl size=164854343 sha256=e93f75aaa76e0d5988583c3e71882a7b1f46eeab51864fbb11e768e567351acb
  Stored in directory: /root/.cache/pip/wheels/4f/bb/82/0988682f9abd0b5e95109a4aae6793dd427173b6dc671d9252
Successfully built h2o
Installing collected packages: colorama, h2o
Successfully installed colorama-0.4.4 h2o-3.32.1.3

In [ ]:
import numpy as np
import pandas as pd
import h2o
from h2o.automl import H2OAutoML
pd.options.display.width = 0
h2o.init()
h2o.connect()

ModuleNotFoundError: ignored

In [ ]:
def split_ingest(df, ratio, na_prob, method):

    def impute(df, method):
        methods = {"reduce": df.dropna(),
                "ffill": df.ffill(axis=0),
                "mean": df.fillna(df.mean()),
                "mode": df.fillna(df.mode().iloc[0])}

        if method == "mean":
            mean = methods[method]
            return impute(mean, "reduce")
        else:
            return methods[method]

    df_origin = pd.read_csv(str("/content/drive/MyDrive/") + df['csv'], low_memory=False)
    print(f"loaded DataFrame: \n{df_origin.head()}")

    q_df = df_origin.drop(columns=df["label"])
    holes_df = q_df.mask(np.random.random(q_df.shape) < na_prob)
    holes_df[df["label"]] = df_origin[df["label"]]

    reduced_df = holes_df.sample(frac=ratio, random_state=0)

    imputed_df = impute(reduced_df, method)

    train = imputed_df.sample(frac=0.8)
    test = imputed_df.drop(train.index)

    trainh2o = h2o.H2OFrame(train)
    testh2o = h2o.H2OFrame(test)

    x = trainh2o.columns
    print(x)
    y = df['label']
    x = x.remove(y)

    if df['type'] == "reg":
        trainh2o[y] = trainh2o[y].asnumeric()
        testh2o[y] = testh2o[y].asnumeric()
    elif df['type'] == "cla":
        trainh2o[y] = trainh2o[y].ascharacter()
        testh2o[y] = testh2o[y].ascharacter()
        trainh2o[y] = trainh2o[y].asfactor()
        testh2o[y] = testh2o[y].asfactor()

    return trainh2o, testh2o, x, y

def read_task_csv():
    df = pd.DataFrame({"csv": ["vgsales_alias.csv"],
                       "label": ["Global_Sales"],
                       "type": ["reg"],
                       "leader_model": ["vgsales_leader"]})

    return df

def do_them_all(ratio, missing_rate, method):
    task_df = read_task_csv()

    for idx, row in read_task_csv().iterrows():
        train, test, x, y = split_ingest(row, ratio, missing_rate, method)
        aml = H2OAutoML(max_models=20, seed=1, max_runtime_secs=86400)
        aml.train(x=x, y=y, training_frame=train)

        h2o.save_model(aml.leader, path=str("/content/drive/MyDrive/") + str(row['leader_model']) + str(missing_rate) + str(method))

# --------------------------------------------

In [ ]:
import time
missing_rates = [0.01, 0.05, 0.1, 0.2]
methods = ["reduce", "ffill", "mean", "mode"]

c = 0
start_whole = time.time()
for i in range(1):
    for e in missing_rates:
        for m in methods:
            print(f"On the round {i}, missing rate {e}, and imputation method {m}")
            print(f" {c}/{30*len(missing_rates)*len(methods)} loops")
            time_round = time.time()
            print(f"Time elapsed so far: {time_round - start_whole}")
            do_them_all(0.1, e, m)
            end_time = time.time()
            print(f"Time took for this round: {end_time - time_round}")

On the round 0, missing rate 0.01, and imputation method reduce
 0/480 loops
Time elapsed so far: 0.01040792465209961
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 285.86046171188354
On the round 0, missing rate 0.01, and imputation method ffill
 0/480 loops
Time elapsed so far: 285.89194774627686
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 371.2822926044464
On the round 0, missing rate 0.01, and imputation method mean
 0/480 loops
Time elapsed so far: 657.1870634555817
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 337.207243680954
On the round 0, missing rate 0.01, and imputation method mode
 0/480 loops
Time elapsed so far: 994.4156396389008
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 286.4547128677368
On the round 0, missing rate 0.05, and imputation method reduce
 0/480 loops
Time elapsed so far: 1280.881098985672
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 262.10759973526
On the round 0, missing rate 0.05, and imputation method ffill
 0/480 loops
Time elapsed so far: 1543.0003888607025
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 300.2650852203369
On the round 0, missing rate 0.05, and imputation method mean
 0/480 loops
Time elapsed so far: 1843.2837193012238
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 336.45352602005005
On the round 0, missing rate 0.05, and imputation method mode
 0/480 loops
Time elapsed so far: 2179.751618385315
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 341.6951310634613
On the round 0, missing rate 0.1, and imputation method reduce
 0/480 loops
Time elapsed so far: 2521.4601526260376
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 330.10814929008484
On the round 0, missing rate 0.1, and imputation method ffill
 0/480 loops
Time elapsed so far: 2851.590451478958
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 271.61071848869324
On the round 0, missing rate 0.1, and imputation method mean
 0/480 loops
Time elapsed so far: 3123.214216709137
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 274.4027783870697
On the round 0, missing rate 0.1, and imputation method mode
 0/480 loops
Time elapsed so far: 3397.635342359543
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 262.0967330932617
On the round 0, missing rate 0.2, and imputation method reduce
 0/480 loops
Time elapsed so far: 3659.7448117733
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 231.15924406051636
On the round 0, missing rate 0.2, and imputation method ffill
 0/480 loops
Time elapsed so far: 3890.9179446697235
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 285.96711111068726
On the round 0, missing rate 0.2, and imputation method mean
 0/480 loops
Time elapsed so far: 4176.896741867065
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 245.16909837722778
On the round 0, missing rate 0.2, and imputation method mode
 0/480 loops
Time elapsed so far: 4422.082402944565
loaded DataFrame:
    Rank                               Name  ...           Publisher Global_Sales
0   2061                               1942  ...              Capcom         1.00
1   9137       �Shin Chan Flipa en colores!  ...           505 Games         0.14
2  14279  .hack: Sekai no Mukou ni + Versus  ...  Namco Bandai Games         0.03
3   8359         .hack//G.U. Vol.1//Rebirth  ...  Namco Bandai Games         0.17
4   7109       .hack//G.U. Vol.2//Reminisce  ...  Namco Bandai Games         0.23

[5 rows x 7 columns]
Parse progress: |█████████████████████████████████████████████████████████| 100%
Parse progress: |█████████████████████████████████████████████████████████| 100%
['Rank', 'Name', 'Platform', 'Year', 'Genre', 'Publisher', 'Global_Sales']
AutoML progress: |████████████████████████████████████████████████████████| 100%
Time took for this round: 298.12787985801697

In [ ]:
def load_model(path, name):
    model = h2o.load_model(str(path) + str(name))
    print(model)

    return model

load_model('/content/drive/MyDrive/vgsales_leader/' , 'XRT_1_AutoML_20210529_152017')

Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  XRT_1_AutoML_20210529_152017


Model Summary:

     number_of_trees  ...  max_leaves  mean_leaves
0               42.0  ...       687.0    463.09525

[1 rows x 10 columns]

ModelMetricsRegression: drf
** Reported on train data. **

MSE: 1.9260191103849087
RMSE: 1.387810905845933
MAE: 0.18585217017756295
RMSLE: 0.12284273143890628
Mean Residual Deviance: 1.9260191103849087

ModelMetricsRegression: drf
** Reported on cross-validation data. **

MSE: 2.5058360080709736
RMSE: 1.582983262094383
MAE: 0.16367007965360403
RMSLE: 0.10247465276911416
Mean Residual Deviance: 2.5058360080709736

Cross-Validation Metrics Summary:

                                 mean  ...   cv_4_valid   cv_5_valid
0                     mae  0.16362558  ...   0.13818651   0.12997735
1  mean_residual_deviance   2.5021968  ...  0.090112045   0.08152741
2                     mse   2.5021968  ...  0.090112045   0.08152741
3                      r2   0.8781441  ...    0.9864207   0.94422966
4       residual_deviance   2.5021968  ...  0.090112045   0.08152741
5                    rmse   0.9155989  ...    0.3001867   0.28553006
6                   rmsle  0.10156989  ...   0.12036806  0.110601954

[7 rows x 8 columns]

Scoring History:

               timestamp  ... training_mae  training_deviance
0    2021-05-29 15:20:52  ...          NaN                NaN
1    2021-05-29 15:20:52  ...     0.358816           7.718215
2    2021-05-29 15:20:52  ...     0.276698           4.633417
3    2021-05-29 15:20:52  ...     0.264721           4.054252
4    2021-05-29 15:20:53  ...     0.225319           2.730302
5    2021-05-29 15:20:53  ...     0.215768           2.618492
6    2021-05-29 15:20:53  ...     0.211878           2.397855
7    2021-05-29 15:20:53  ...     0.189227           2.139052
8    2021-05-29 15:20:53  ...     0.187926           2.072663
9    2021-05-29 15:20:53  ...     0.185852           1.926019

[10 rows x 7 columns]

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0       Rank        236978.000000           1.000000    0.727712
1  Publisher         30340.964844           0.128033    0.093171
2      Genre         23738.566406           0.100172    0.072896
3   Platform         21019.289062           0.088697    0.064546
4       Year         13571.337891           0.057268    0.041675

Model Details
=============
H2ORandomForestEstimator :  Distributed Random Forest
Model Key:  XRT_1_AutoML_20210529_152017


Model Summary:

     number_of_trees  ...  max_leaves  mean_leaves
0               42.0  ...       687.0    463.09525

[1 rows x 10 columns]

ModelMetricsRegression: drf
** Reported on train data. **

MSE: 1.9260191103849087
RMSE: 1.387810905845933
MAE: 0.18585217017756295
RMSLE: 0.12284273143890628
Mean Residual Deviance: 1.9260191103849087

ModelMetricsRegression: drf
** Reported on cross-validation data. **

MSE: 2.5058360080709736
RMSE: 1.582983262094383
MAE: 0.16367007965360403
RMSLE: 0.10247465276911416
Mean Residual Deviance: 2.5058360080709736

Cross-Validation Metrics Summary:

                                 mean  ...   cv_4_valid   cv_5_valid
0                     mae  0.16362558  ...   0.13818651   0.12997735
1  mean_residual_deviance   2.5021968  ...  0.090112045   0.08152741
2                     mse   2.5021968  ...  0.090112045   0.08152741
3                      r2   0.8781441  ...    0.9864207   0.94422966
4       residual_deviance   2.5021968  ...  0.090112045   0.08152741
5                    rmse   0.9155989  ...    0.3001867   0.28553006
6                   rmsle  0.10156989  ...   0.12036806  0.110601954

[7 rows x 8 columns]

Scoring History:

               timestamp  ... training_mae  training_deviance
0    2021-05-29 15:20:52  ...          NaN                NaN
1    2021-05-29 15:20:52  ...     0.358816           7.718215
2    2021-05-29 15:20:52  ...     0.276698           4.633417
3    2021-05-29 15:20:52  ...     0.264721           4.054252
4    2021-05-29 15:20:53  ...     0.225319           2.730302
5    2021-05-29 15:20:53  ...     0.215768           2.618492
6    2021-05-29 15:20:53  ...     0.211878           2.397855
7    2021-05-29 15:20:53  ...     0.189227           2.139052
8    2021-05-29 15:20:53  ...     0.187926           2.072663
9    2021-05-29 15:20:53  ...     0.185852           1.926019

[10 rows x 7 columns]

Variable Importances:

    variable  relative_importance  scaled_importance  percentage
0       Rank        236978.000000           1.000000    0.727712
1  Publisher         30340.964844           0.128033    0.093171
2      Genre         23738.566406           0.100172    0.072896
3   Platform         21019.289062           0.088697    0.064546
4       Year         13571.337891           0.057268    0.041675